{% extends "base.html" %}

{% load staticfiles %}

{% block headscriptcss %}
<link href="{% static "stylesheets/wip/survey.css"%}" rel="stylesheet" />
{% endblock %}

{% block title %}ArcHIVE 4Any | Confirmation of Post-Questionnaire{% endblock %}


{% block bodyclass %}
	<body class="right-sidebar">
{% endblock %}

							{% block content %}
<!-- Main Wrapper -->
				<div id="main-wrapper">
					<div class="5grid-layout">
						<div class="row">
							
							<!-- Content -->
								<div id="content" class="8u mobileUI-main-content">

									<article class="box">
									<h1> Thanks for your participation!</h1>
									<p></p>
									<p><h2> We really appreciate your help!</h2></p>
									<p>The results will help us improve our <a href="/archives">ArcHIVE 4Any</a> application. You're welcome to come back and try our new updates!</p>
									
</article>

<!-- Two Column Content BELOW. NO IDEA WHY, BUT IF THESE SECTIONS
									DO NOT EXIST THEN THE SIDE BAR APPEARS UNDERNEATH -->
										<div class="5grid" id="two-column">
											<div class="row">
												
												<!-- Two Column Content -->
														<div class="6u">
															
														</div>
				
												<!-- Two Column Content -->
														<div class="6u">
															
														</div>
											
											</div>
										</div>
									<!-- Two Column Content ABOVE. NO IDEA WHY, BUT IF THESE SECTIONS
									DO NOT EXIST THEN THE SIDE BAR APPEARS UNDERNEATH -->
	
								</div>
							<!-- Content Ends Here -->
								
							<!-- Sidebar -->
								<div id="sidebar" class="4u">
									
									<!-- Sidebar Box1 -->
										<section class="box">
																	
	<img src="{% static "images/MQ.jpg" %}"/>					

<!------------------------------------------------------------------------> 	
		<p>In case you have any questions, please contact us:<a href="mailto:manolya.kavakli@mq.edu.au">manolya.kavakli@mq.edu.au</a> or <a href="mailto:ernesto-mauro.suarez-lopez@students.mq.edu.au">ernesto-mauro.suarez-lopez@students.mq.edu.au</a></p>										

<p></p>
<p><a href="/survey/">Return</a></p>
										</section>
									
																
									
								</div>
							<!-- Sidebar Ends Here -->
	
						</div>
					</div>
				</div>

{% endblock %}
<!------------------------------------------------------------------------> 


