{% extends "base.html" %}

{% load staticfiles %}

{% block headscriptcss %}
<link href="{% static "stylesheets/wip/survey.css"%}" rel="stylesheet" />
{% endblock %}

{% block title %}ArcHIVE 4Any | Usability Testing{% endblock %}


{% block bodyclass %}
	<body class="right-sidebar">
{% endblock %}

							{% block content %}
<!-- Main Wrapper -->
				<div id="main-wrapper">
					<div class="5grid-layout">
						<div class="row">
							
							<!-- Content -->
								<div id="content" class="8u mobileUI-main-content">

									<article class="box">
									<h1> ArcHIVE 4Any - Usability Testing </h1>
									
<p><font color='#003399'>Thank you for coming here! We need your help to complete our usability study and to improve our application.</font>	</p> 


<h2>Presentation</h2><p></p>		
									<p>You are invited to participate in a usability testing of ArcHIVE 4Any, which is a mobile augmented reality application. While you are visiting historical sites, you will be able to display pre-recorded video scenes and digital information in various GPS locations. You will also be able to add your own landmarks and relevant digital information. The purpose of the study is to collect user feedback on the digital heritage site. The results will be used to identify the strengths and weaknesses of our system and to improve it. </p>
									
									<p>The study is being conducted by Manolya Kavakli, Associate Professor of Department of Computing and Chief Investigator, and interns Nan Jin, Heidi Umbach and Gavin Dalgleish.</p>

<h2>Test Procedure</h2><p></p>
<p>Step 1 : Complete the <a href="/survey/1/">Pre-questionnaire</a></p>
<p>Step 2 : Visit or Add Landmarks with <a href="/archives">ArcHIVE 4Any</a></p>
<p>Step 3 : Complete the <a href="/survey/2/">Post-questionnaire</a></p>



</article>

<!-- Two Column Content BELOW. NO IDEA WHY, BUT IF THESE SECTIONS
									DO NOT EXIST THEN THE SIDE BAR APPEARS UNDERNEATH -->
										<div class="5grid" id="two-column">
											<div class="row">
												
												<!-- Two Column Content -->
														<div class="6u">
															
														</div>
				
												<!-- Two Column Content -->
														<div class="6u">
															
														</div>
											
											</div>
										</div>
									<!-- Two Column Content ABOVE. NO IDEA WHY, BUT IF THESE SECTIONS
									DO NOT EXIST THEN THE SIDE BAR APPEARS UNDERNEATH -->
	
								</div>
							<!-- Content Ends Here -->
								
							<!-- Sidebar -->
								<div id="sidebar" class="4u">
									
									<!-- Sidebar Box1 -->
										<section class="box">
																	
	<img src={% static "images/MQ.jpg" %}/>						<!------------------------------------------------------------------------>				
<!--
{% if surveyList %}
	<table class="core table-curved">
	
	{% for survey in surveyList %}
	
	<tr class={% cycle "odd" "even" %}> 
		<td><a href="/survey/{{ survey.id }}/">{{ survey.name }}</a></td>
	</tr>
	<tr><td><p>{{ survey.description }}</p></td></tr>
	{% endfor %}
	
	</table>
	

{% else %}
	<h1>No surveys are available.</h1>
{% endif %}-->
<p></p>
<p>For more information, please contact us:<a href="mailto:manolya.kavakli@mq.edu.au">manolya.kavakli@mq.edu.au</a> or <a href="mailto:manolya.kavakli@mq.edu.au">nan.jin@mq.edu.au</a>
</p>

<!------------------------------------------------------------------------> 	
												

										</section>
									
																
									
								</div>
							<!-- Sidebar Ends Here -->
	
						</div>
					</div>
				</div>

{% endblock %}
<!------------------------------------------------------------------------> 
