{% extends "base.html" %}

{% load staticfiles %}

{% block title %}ArcHIVE 4Any | MCQ{% endblock %}



{% block bodyclass %}
	<body class="right-sidebar">
{% endblock %}

							{% block content %}
<!-- Main Wrapper -->
				<div id="main-wrapper">
					<div class="5grid-layout">
						<div class="row">
							
							<!-- Content -->
								<div id="content" class="8u mobileUI-main-content">

									<article class="box">
									<h2> {{ theSurvey.name }} Registration</h2>
									
						
<p></p>

</article>

<!-- Two Column Content BELOW. NO IDEA WHY, BUT IF THESE SECTIONS
									DO NOT EXIST THEN THE SIDE BAR APPEARS UNDERNEATH -->
										<div class="5grid" id="two-column">
											<div class="row">
												
												<!-- Two Column Content -->
														<div class="6u">
															
														</div>
				
												<!-- Two Column Content -->
														<div class="6u">
															
														</div>
											
											</div>
										</div>
									<!-- Two Column Content ABOVE. NO IDEA WHY, BUT IF THESE SECTIONS
									DO NOT EXIST THEN THE SIDE BAR APPEARS UNDERNEATH -->
	
								</div>
							<!-- Content Ends Here -->
								
							<!-- Sidebar -->
								<div id="sidebar" class="4u">
									
									<!-- Sidebar Box1 -->
										<section class="box">
																	
	<img src={% static "images/MQ.jpg" %}/>						<!------------------------------------------------------------------------>				
<p>Your cooperation is our power, we really appreciate it.</p>

<p><a href="/study/participant{{ theSurvey.id }}">Return</a></p>
<!------------------------------------------------------------------------> 	
												

										</section>
									
																
									
								</div>
							<!-- Sidebar Ends Here -->
	
						</div>
					</div>
				</div>

{% endblock %}
<!------------------------------------------------------------------------> 
