{% extends "base.html" %}
{% load thumbnail %}
{% load staticfiles %}

{% block title %}ArcHIVE 4Any | Participant Registration{% endblock %}

{% block bodyclass %}
	<body class="right-sidebar">
{% endblock %}

							{% block content %}
<!-- Main Wrapper -->
				<div id="main-wrapper">
					<div class="5grid-layout">
						<div class="row">
							
							<!-- Content -->
								<div id="content" class="8u mobileUI-main-content">

									<article class="box">
									<h2> {{ theSurvey.name }} Registration</h2>
<!--									
{% if errors %}
	<ul>
        {% for error in errors %}
        <li style="color: red;">{{ error }}</li>
        {% endfor %}
	</ul>
{% endif %}	-->
	
<form id="sampleform" method="post" action="" enctype="multipart/form-data">
	<table  class="core table-form">
		     {% csrf_token %}
	            {% for field in form %}
					{% if field.is_hidden %}
						{{ field }}
					{% else %}
					  	<tr>
					  	<td>{{ field.label }}<font color="red">{{ field.errors }}</font></td>
					  	</tr>
					  	<tr>
						  	<td align="left">{{ field }}<BR />{{ field.help_text }}</td>
					  	</tr>
					{% endif %}            
				{% endfor %}
	</table>
	<input class="button button-style1" type="submit" value="Submit" />
</form>
									
</article>

<!-- Two Column Content BELOW. NO IDEA WHY, BUT IF THESE SECTIONS
									DO NOT EXIST THEN THE SIDE BAR APPEARS UNDERNEATH -->
										<div class="5grid" id="two-column">
											<div class="row">
												
												<!-- Two Column Content -->
														<div class="6u">
															
														</div>
				
												<!-- Two Column Content -->
														<div class="6u">
															
														</div>
											
											</div>
										</div>
									<!-- Two Column Content ABOVE. NO IDEA WHY, BUT IF THESE SECTIONS
									DO NOT EXIST THEN THE SIDE BAR APPEARS UNDERNEATH -->
	
								</div>
							<!-- Content Ends Here -->
								
							<!-- Sidebar -->
								<div id="sidebar" class="4u">
									
									<!-- Sidebar Box1 -->
										<section class="box">
																	
	<img src={% static "images/MQ.jpg" %}/>						<!------------------------------------------------------------------------>				
<p>{{theSurvey.description}}</p>

<p>Your cooperation is our power, we really appreciate it.</p>

<p><a href="/study/">Return</a></p>
<!------------------------------------------------------------------------> 	
												

										</section>
									
																
									
								</div>
							<!-- Sidebar Ends Here -->
	
						</div>
					</div>
				</div>

{% endblock %}
<!------------------------------------------------------------------------> 



