input[type="radio"],input[type="checkbox"]{
		background-color: #a8a7a7;
		width: 10px;
		height: 10px;
		border-radius: 10px;
		margin-left: 5px;
	}
	
input[type="radio"]:checked,input[type="checkbox"]:checked{
		background-color: white;
		width: 10px;
		height: 10px;
		border-radius: 10px;
		border:solid 3px #0ba13a;
	}

.box h1
		{
			padding: 0 0 1em 0;
			letter-spacing: -0.03em;
			font-size: 1.60em;
			color: #000000;
			text-align: center;
			font-weight: bold;
		}
		
.box h2
		{
			padding: 0 0 0.40em 0;
			letter-spacing: -0.03em;
			font-size: 1.20em;
			color: #076f28;
			font-weight: bold;
		}
		
.box h3, label
		{
			padding: 0 0 0.40em 0;
			letter-spacing: -0.03em;
			font-size: 1.00em;
			color: black;
		}
		
.box form{
	margin	:5px;
}

.box table td{
	padding: 3px;
	vertical-align: middle;
	border: none;
	background-color: white;
}

.box table tr{
	border: none;
	background-color: white;
}


.label-inline{
}

#bt{
	text-align: center;
}

.box table{
	background-color: white;
	border: none;
}

.box textarea{
	width: 250px;
	height: 100px;
	resize: none;
	overflow: auto;
}

.box select, .box input[type="text"]{
	min-height: 15px;
	padding:5px;
	text-align: center;
}

.box select{
	min-width: 200px;
	max-width: 250px;
}

.box input[type="text"]{
	border: 1px solid grey;
	background-color: white;
	min-width: 100px;
}