{% load staticfiles %}
<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title>{% block title %}Archelologist Application by MagicLAMP{% endblock %}</title>
	<meta name="viewport" content="width=device-width"/>
	<meta name="keywords" content="archeologist relic archive web mobile application" />
	
	<script src="{% static "javascript/jquery-1.8.2.min.js" %}"></script>
	<script  charset="UTF-8" type="text/javascript"
	src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0">
	</script>
	
	<style>
	#map {
		position: absolute;
		width: 20em;
		height: 30em;
	}
	.after {
		position: absolute;
		left: 40em;
		background: url({% static "images/house.png" %} no-repeat left center;
		padding: 0 0 0 1.6em;
		margin: 0;
	}
	body { width: 50em; }
	</style>
		
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700" rel="stylesheet" />
		<script src="{% static "javascript/jquery-1.8.2.min.js" %}"></script>
		<script src="{% static "stylesheets/wip/5grid/init.js" %}?use=mobile,desktop,1000px&amp;mobileUI=1&amp;mobileUI.theme=none"></script>
		<noscript>
			<link rel="stylesheet" href="{% static "stylesheets/wip/5grid/core.css" %}" />
			<link rel="stylesheet" href="{% static "stylesheets/wip/5grid/core-desktop.css"  %}"/>
			<link rel="stylesheet" href="{% static "stylesheets/wip/5grid/core-1200px.css" %}" />
			<link rel="stylesheet" href="{% static "stylesheets/wip/5grid/core-noscript.css" %}" />
			<link rel="stylesheet" href="{% static "stylesheets/wip/style.css" %}" />
			<link rel="stylesheet" href="{% static "stylesheets/wip/style-desktop.css" %}" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie8.css" /><![endif]-->
		<!--[if lte IE 7]><link rel="stylesheet" href="css/ie7.css" /><![endif]-->
		
		<!-- r179 -->
		<script type="text/javascript">
		 $(function(){
		   {% if alert %}
			  //whatever conditions and js code
			  alert('{{alert}}');
		   {% endif %}
		 });
		</script>
		
		{% block headscriptcss %}
		{% endblock %}
</head>

{% block bodyclass %}
<body>
{% endblock %}

<!-- Header -->
			<header id="header">
			
				<div class="5grid-layout">
					<div class="row">
					
					<!-- Logo -->
						<div class="4u" id="logo">
							<section>
								<h1><a href="http://www.magiclamp.com.au" class="mobileUI-site-name">
								Archeologist <span>By MagicLAMP</span></a></h1>
							</section>
						</div>
					
					<!-- Nav -->
						<div class="8u">
						<nav id="nav" class="mobileUI-site-nav">
							<ul>
								<li class="current_page_item"><a href="http://www.magiclamp.com.au">MagicLAMP</a></li>
								<li><a href="/archives/">Archeological Sites</a></li>
							</ul>
						</nav>
						</div>
					</div>
				</div>
			</header>


{% block content %}

{% endblock %}

<!-- Copyright Wrapper -->
				<div id="copyright-wrapper">

					<div class="5grid-layout">
						<div class="row">
							<div class="12u">
		
								<!-- Copyright -->
									<div id="copyright">
										&copy; MagicLAMP Mobile Website Applications Australia
									
									</div>
							
							</div>
						</div>
					</div>
				
				</div>
			<!-- Copyright Wrapper -->
			
{% block scriptcss %}
{% endblock %}			


</body>
</html>