{% load staticfiles %}
<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title>Enter a Relic</title>
	<meta name="viewport" content="width=device-width"/>
	<script src="{% static "javascript/jquery-1.8.2.min.js" %}"></script>
	<script  charset="UTF-8" type="text/javascript"
	src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0">
	</script>

	<style>
	#map {
		position: absolute;
		width: 20em;
		height: 30em;
	}
	.after {
		position: absolute;
		left: 40em;
		background: url({% static "images/house.png" %} no-repeat left center;
		padding: 0 0 0 1.6em;
		margin: 0;
	}
	body { width: 50em; }
	</style>

		<title>{% block title %}MagicLAMP Archives{% endblock %}</title>
</head>

<body>
{% block content %}

{% endblock %}

</body>
</html>