{% extends "base.html" %}

{% load staticfiles %}

{% block title %}{{ theSite.name }}{% endblock %}

{% block heading %}
Archived Relics in <a href="/archives/{{ theSite.id }}/">{{ theSite.name }}</a>
{% endblock %}

{% block bodyclass %}
	<body class="right-sidebar" onload="GetMap()">
{% endblock %}


{% block content %}

<!-- Main Wrapper -->
				<div id="main-wrapper">
					<div class="5grid-layout">
						<div class="row">
							
							<!-- Content -->
								<div id="content" class="8u mobileUI-main-content">

									<article class="box">
<!------------------------------------------------------------------------>


<h2><a href="/archives/">{{ theSite.name }}</a></h2>

<h2>Mapping</h2>
										
<div id="map" style="position:relative;width:700px;height:500px; border:#555555 2px solid;">

</div>

<!------------------------------------------------------------------------> 
									</article>
									
									<!-- Two Column Content BELOW. NO IDEA WHY, BUT IF THESE SECTIONS
									DO NOT EXIST THEN THE SIDE BAR APPEARS UNDERNEATH -->
										<div class="5grid" id="two-column">
											<div class="row">
												
												<!-- Two Column Content -->
														<div class="6u">
															
														</div>
				
												<!-- Two Column Content -->
														<div class="6u">
															
														</div>
											
											</div>
										</div>
									<!-- Two Column Content ABOVE. NO IDEA WHY, BUT IF THESE SECTIONS
									DO NOT EXIST THEN THE SIDE BAR APPEARS UNDERNEATH -->
	
								</div>
							<!-- Content Ends Here -->
								
							<!-- Sidebar -->
								<div id="sidebar" class="4u">
									
									<!-- Sidebar Box1 -->
										<section class="box">
										
										<a href="/archives/add/{{ theSite.id }}/"
										class="button button-style2">Add Relic</a>
										<BR /><BR />
										{% if relicSet %}
											<table class="core table-curved">
											<tr>
											<th>Relic Name</th><th>Description</th><th>Photo</th>
											</tr>
											
											{% for relic in relicSet %}
											<!-- alternate colours with the classes defined in the style sheet -->
											<tr class={% cycle "odd" "even" %}> 
												
												<td>{{ relic.name }}</td><td>{{ relic.description }}</td>
												<td>
												{% if relic.photo %}
													 - 	<a href="{{ relic.photo.url }}">Photo</a>
												{% endif %}
												</td>
												
												
											</tr>
											{% endfor %}
											</table>
										{% else %}
											There are no relics recorded for {{ theSite.name }}
										{% endif %}
										
						
										</section>
									
																
									
								</div>
							<!-- Sidebar Ends Here -->
	
						</div>
					</div>
				</div>


{% endblock %}


{% block scriptcss %}

<script>
    var pinInfoBox;  //the pop up info box
    var infoboxLayer = new Microsoft.Maps.EntityCollection();
    var pinLayer = new Microsoft.Maps.EntityCollection();

    function GetMap() {
    	mapOptions = {
		credentials: 'AuLrjLtD2yKFDBiYPRPWQwPPjIkz2IT8wUAD3UL3L8Fu4J0QC6pIDD1g46HPhHZN',
		center: new Microsoft.Maps.Location({{ theSite.latitude }}, {{ theSite.longitude }}),
		zoom: 10
		};

        map = new Microsoft.Maps.Map(document.getElementById("map"), mapOptions);

        // Create the info box for the pushpin
        pinInfobox = new Microsoft.Maps.Infobox(new Microsoft.Maps.Location(0, 0), { visible: false, height: 160 });
        infoboxLayer.push(pinInfobox);

		var latLon;
		var pin;
        {% for relic in relicSet %}
            //add pushpins
            latLon = new Microsoft.Maps.Location({{ relic.latitude }}, {{ relic.longitude }});
            pin = new Microsoft.Maps.Pushpin(latLon);
            pin.Title = '{{ relic.name }}';//usually title of the infobox
            pin.Description = ' \
            {% if relic.photo %} \
            	<img src="{{ relic.photo.url }}" \
            	width=82 height=110 align="left" style="padding-right:10px"> \
            	<br /> \
            {% endif %} \
            {{ relic.description }}<br/> \
            {{ relic.archeologist }}<br/> \
            {{ relic.entered }}'; //information you want to display in the infobox
            pinLayer.push(pin); //add pushpin to pinLayer
            Microsoft.Maps.Events.addHandler(pin, 'click', displayInfobox);
        {% endfor %}

        map.entities.push(pinLayer);
        map.entities.push(infoboxLayer);

    }

    function displayInfobox(e) {
        pinInfobox.setOptions({title: e.target.Title, description: e.target.Description, visible:true, offset: new Microsoft.Maps.Point(0,25)});
        pinInfobox.setLocation(e.target.getLocation());
    }

    function hideInfobox(e) {
        pinInfobox.setOptions({ visible: false });
    }
</script>
{% endblock %}