{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

<h1>Enter a relic in <a href="/archives/{{ theSite.id }}/">{{ theSite.name }}</a></h1>
<section>
<h2>For Mapping</h2>
<p id="supports">Your browser supports GeoLocation.  There was an problem mapping your location, please try again later.</p>

{% if form.errors %}
	<P style="color: red;">
	Please correct the error{{form.errors|pluralize }} below.
	</p>
{% endif %}


<form id='sampleform' method='post' action='' enctype="multipart/form-data">
{% csrf_token %}
	<table><tr><th>Field</th><th>Data</th></tr>
	{% for field in form %}
		<tr>
			<td bgcolor=#DDDDDD>
			{% ifequal field.name 'photo' %}
				{{ field.label }}<P style="color: red;">{{ field.errors }}</P></td>
				<td>{{ field.help_text }}<BR />
				<input type="file"  name="{{ field.html_name}}" id="{{ field.auto_id }}"
				capture="camera" accept="image/*" />	
				</td>
			{% else %}
				{{ field.label }}<P style="color: red;">{{ field.errors }}</P></td>
				<td>{{ field.help_text }}<BR />{{ field }}</td>
			{% endifequal %}
			{% if field.name == 'longitude' %}
				<section id="getMapInfo">
				<h3>Map Options</h3>
				<p>Zoom level:
				Macro
				<input id="zoomLv1" value="11" type="range" min="1" max="20">
				Micro
				</p>
				
				<p><button onclick="getLocation()">Get My Location</button></p>
				
				<div id="map"></div>
				</section>
			{% endif %}
		</tr>
		{% endfor %}
	</table>
	<input type='submit' value='Submit' />

</form>



<script>
$(document).ready(function(e) {
	if (supportsGeoLocation()) {
		$("#supports").html("Your browser supports GeoLocation. ");
		mapRecordedPos();
	} else {
		$("#supports").html("Your browser does not support GeoLocation. ");
		$("#getMapInfo").hide(); // hide the button and map section
	}

});

function supportsGeoLocation() {
	return !!navigator.geolocation;
};



// add the get location function 
function getLocation() {
	navigator.geolocation.getCurrentPosition(mapCurrentPos, locationError,{timeout:10000});
}

function mapCurrentPos(position) {
	var lat = position.coords.latitude;
	var lon = position.coords.longitude;
	var zoom = parseInt($("#zoomLv1").val());
	var map, mapOptions, center, pin, pinOptions;
	
	// stuff the new location in to the form
	document.getElementById('id_latitude').value	= lat;
	document.getElementById('id_longitude').value	= lon;
	
	// show a map from Bing
	mapOptions = {
		credentials: 'AuLrjLtD2yKFDBiYPRPWQwPPjIkz2IT8wUAD3UL3L8Fu4J0QC6pIDD1g46HPhHZN',
		center: new Microsoft.Maps.Location(lat, lon),
		zoom: zoom
	};
	
	map = new Microsoft.Maps.Map(document.getElementById('map'), mapOptions);
	center = map.getCenter();
	pinOptions = {
		icon: "{% static "images/house.png" %}",
		width: 16,
		height: 16,
		draggable: true
	};
	pin = new Microsoft.Maps.Pushpin(center, pinOptions);
	map.entities.push(pin);
	$("#map"); //.after('<h3 class="after">You are Here</h3>');
}

// add the error callback function locationError to provicde information on what error occurred 
function locationError(error) {
	switch(error) {
		case 1:
			alert("location services denied");
		break;
		case 2:
			alert("Cound not contact location service network or satellites");
		break;
		case 3:
			alert("Location services timed out");
		break;
		default:
			alert("Location could not be determined.");
	}
	$("#getMapInfo").hide();
	$("#supports").append(" There was a problem mapping your location. Please try again later.");
}

function mapRecordedPos() {
	var lat = document.getElementById('id_latitude').value;
	var lon = document.getElementById('id_longitude').value;
	var zoom = parseInt($("#zoomLv1").val());
	var map, mapOptions, center, pin, pinOptions;
	
	// show a map from Bing
	mapOptions = {
		credentials: 'AuLrjLtD2yKFDBiYPRPWQwPPjIkz2IT8wUAD3UL3L8Fu4J0QC6pIDD1g46HPhHZN',
		center: new Microsoft.Maps.Location(lat, lon),
		zoom: zoom
	};
	
	map = new Microsoft.Maps.Map(document.getElementById('map'), mapOptions);
	center = map.getCenter();
	pinOptions = {
		icon: "{% static "images/house.png" %}",
		width: 16,
		height: 16,
		draggable: true
	};
	pin = new Microsoft.Maps.Pushpin(center, pinOptions);
	map.entities.push(pin);
	$("#map").after('<h3 class="after">The Relic is Here</h3>');
}

</script>
		
{% endblock %}